<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="Group1.Artifact1.Listeners"/>
<listener class-name="Resources.ExtentReporterNG"/>
</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="Group1.Artifact1.Validation"/>
      </classes>
      </test>
      <test name="Test1">
      <classes>
      <class name="Group1.Artifact1.HomePage"/>
      </classes>
      </test>
      <test name="Test2">
      <classes>
      <class name="Group1.Artifact1.AppTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
